/*NAVBAR*/

.navbar {
  padding-left: 980px;
  color: white;
}

.location {
  list-style-type: none;
  display: inline-block;
  padding-left: 30px;
  font-size: 20px;
}

body {
  background-image: url("ttc.jpeg");
  background-repeat: no-repeat;
  background-size: 1200px;
}


/*LANDING PAGE*/

#name {
  color: white;
  text-align: center;
  padding-top: 100px;
  font-size: 75px;
  margin-bottom: -40px;
}

#whoami {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.logo {
  height: 70px;
}

#css {
  height: 63px;
}

.tools {
  padding-left: 400px;
  padding-bottom: 550px;
}

/*PROJECTS*/

.projectImagesLeft {
  height: 700px;
  width: 500px;
  padding-left: 150px;
  margin-right: 400px;
  margin-bottom: -200px;
}

.projectImagesRight {
  height: 700px;
  width: 500px;
  padding-left: 700px;
}

.projectWholeLeft {
  color: white;
  background-color: #c92b00;
  position: absolute;
  padding: 10px 30px 200px 30px;
  margin: 40px 0px 0px 185px;
  text-align: center;
  opacity: 0;
}

.projectWholeLeft:hover {
  opacity: 1;
  transition: 0.9s;
}

.projectTitleLeft {
  font-size: 75px;
  margin: 20px;
  text-align: center;
}

.projectLanguagesLeft {
  font-size: 28px;
}

.projectDescriptionLeft {
  font-size: 17px;
}

.projectButtonLeft {
  padding: 10px 150px 10px 150px;
  font-size: 15px;
  font-weight: 900;
  color: #c92b00;
}

.projectWholeRight {
  color: white;
  background-color: #c92b00;
  position: absolute;
  padding: 10px 30px 200px 30px;
  margin: 40px 0px 0px 737px;
  text-align: center;
  opacity: 0;
}

.projectWholeRight:hover {
  opacity: 1;
  transition: 0.9s;
}

.projectTitleRight {
  font-size: 75px;
  margin: 20px;
  text-align: center;
}

.projectLanguagesRight {
  font-size: 28px;
}

.projectDescriptionRight {
  font-size: 17px;
}

.projectButtonRight {
  padding: 10px 150px 10px 150px;
  font-size: 15px;
  font-weight: 900;
  color: #c92b00;
}

.contact {
  margin: 20px 0px 20px 43px;
  height: 650px;
  opacity: 1;
}

#get {
  position: absolute;
  margin: 150px 0px 0px 20px;
  font-size: 50px;
  text-decoration: underline;
  color: #0e1116;
}

#availability {
  position: absolute;
  margin: 220px 0px 0px 20px;
  font-size: 30px;
  /*text-decoration: underline;*/
  color: #0e1116;
}

#contactInfoEmail {
  position: absolute;
  margin: 300px 0px 0px 40px;
  font-size: 25px;
  color: #0e1116;
}

#contactInfoLinkedin {
  position: absolute;
  margin: 350px 0px 0px 40px;
  font-size: 25px;
}

#contactInfoGithub {
  position: absolute;
  margin: 400px 0px 70px 40px;
  font-size: 25px;
}

a {
  color: #0e1116;
  text-decoration: none;
}

#cellphone {
  margin: 100px 0px 0px 732px;
  height: 400px;
  width: 550px;
  opacity: 0.6;
}
