/*NAVBAR*/

.navbar {
  color: white;
  padding-top: 20px;
}

.location {
  color: black;
  list-style-type: none;
  display: inline-block;
  padding-left: 10px;
  font-size: 20px;
}

.location:hover {
  text-decoration: underline;
}

/*LANDING PAGE*/
body, html {
  cursor: default;
  height: 100%;
  margin-top: -8px;;
}

.landingPage {
  /* The image used */
  background-image: url("landingpage.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}

#name {
  color: black;
  text-align: left;
  padding: 8% 0px 0px 4%;
  font-size: 75px;
  margin-bottom: -4%;
}

#whoami {
  color: black;
  text-align: left;
  padding-left: 4%;
  font-size: 40px;
  margin-bottom: -3%;
}

#skills {
  color: black;
  text-align: left;
  font-size: 35px;
  margin-bottom: 20px;
  padding-left: 4%;
}

/*PROJECTS*/

.projectImagesLeft {
  height: 700px;
  width: 500px;
  margin: 0 0 -16% 12%;
}

.projectImagesRight {
  height: 700px;
  width: 500px;
  margin-left: 55%;
}

.projectWholeLeft {
  color: white;
  background-color: #c92b00;
  position: absolute;
  padding: 0px 30px 50px 30px;
  margin: 40px 0px 0px 0px;
  margin-left: 14.4%;
  text-align: center;
  opacity: 0;
}

.projectWholeLeft:hover {
  opacity: 1;
  transition: 0.9s;
}

.projectTitleLeft {
  font-size: 75px;
  margin: 20px;
  text-align: center;
}

.projectLanguagesLeft {
  font-size: 28px;
}

.projectDescriptionLeft {
  font-size: 17px;
}

.projectButtonLeft {
  padding: 10px 150px 10px 150px;
  font-size: 15px;
  font-weight: 900;
  color: #c92b00;
}

.projectWholeRight {
  color: white;
  background-color: #c92b00;
  position: absolute;
  padding: 10px 30px 170px 30px;
  margin: 40px 0px 0px 737px;
  margin-left: 57%;
  text-align: center;
  opacity: 0;
}

.projectWholeRight:hover {
  opacity: 1;
  transition: 0.9s;
}

.projectTitleRight {
  font-size: 75px;
  margin: 20px;
  text-align: center;
}

.projectLanguagesRight {
  font-size: 28px;
}

.projectDescriptionRight {
  font-size: 17px;
}

.projectButtonRight {
  padding: 10px 150px 10px 150px;
  font-size: 15px;
  font-weight: 900;
  color: #c92b00;
}

.contact {
  margin: 20px 0px 20px 43px;
  padding-left: 900px
  height: 650px;
  opacity: 1;
}

.wholeContact {
  margin-left: 5%;
}

#get {
  font-size: 50px;
  text-decoration: underline;
  color: #0e1116;
}

#availability {
  font-size: 30px;
  color: #0e1116;
}

#contactInfoEmail {
  font-size: 25px;
  color: #0e1116;
}

#contactInfoLinkedin {
  font-size: 25px;
  text-decoration-line: underline;
}

#contactInfoGithub {
  font-size: 25px;
  padding-bottom: 5%;
  text-decoration-line: underline;
}

a {
  color: #0e1116;
  text-decoration: none;
}

#lastOne {
  margin-bottom: 1%;
}

/*BIG SCREEN*/

@media only screen and (min-width: 1400px) {
  #name {
    font-size: 125px;
    padding-left: 3%;
    margin-bottom: -98px;
  }

  #whoami {
    padding-left: 3%;
    font-size: 50px;
    margin-bottom: -40px;
  }

  #skills {
    font-size: 35px;
    margin-bottom: 20px;
    padding-left: 3%;
  }

  .projectWholeLeft {
    margin-left: 13.8%;
  }

  .projectWholeRight {
    margin-left: 56.3%;
  }
}

/*LANDING PAGE SMALL SCREEN*/

@media only screen and (max-width: 1000px) {
  #name { font-size: 50px; }
  #whoami { font-size: 30px; }
  #skills { font-size: 20px; }
}

@media only screen and (max-width: 1240px) {

  #firstImage {
    margin-top: 50px;
  }

  #firstProjectWhole {
    margin-top: 100px;
    margin-left: 275px;
  }

  .projectImagesLeft {
  margin-left: 236px;
  margin-top: 80px;
  }

  .projectImagesRight {
  margin-left: 236px;
  margin-top: 236px;
  }

  .projectWholeLeft {
    margin-left: 265px;
    margin-top: 135px;
  }

  .projectWholeRight {
    margin-left: 265px;
    margin-top: 275px;
  }

  @media only screen and (max-width: 800px) {

    #firstProjectWhole {
      margin-left: 130px;
    }

    .projectImagesLeft {
    margin-left: 100px;
    }

    .projectImagesRight {
    margin-left: 100px;
    margin-top: 236px;
    }

    .projectWholeLeft {
      margin-left: 130px;
      margin-top: 135px;
    }

    .projectWholeRight {
      margin-left: 130px;
      margin-top: 275px;
    }
}

/*MOBILE*/

@media only screen and (max-width: 600px) {
  .navbar { opacity: 0;}

  #firstProjectWhole {
    margin-left: 5px;
    margin-top: 45px;
  }

  #firstImage {
    margin-top: -15px;
  }

  .projectImagesLeft {
  margin-left: 0px;
  width: 330px;
  height: 550px;
  }

  .projectWholeLeft {
    margin-left: 5px;
    padding: 0px;
    padding-bottom: 20px;
    width: 320px;
    text-align: center;
    opacity: 1;
  }

  .projectTitleLeft {
    font-size: 40px;
  }


  .projectLanguagesLeft {
    font-size: 18px;
  }

  .projectDescriptionLeft {
    font-size: 15px;
  }

  .projectButtonLeft {
    padding: 3px 3px 6px 3px;
    font-size: 15px;
    font-weight: 900;
    color: #c92b00;
  }

  .projectImagesRight {
    margin-left: 0px;
    margin-top: 90px;
    width: 330px;
    height: 550px;
  }


  .projectWholeRight {
    margin-left: 5px;
    margin-top: 150px;
    padding: 0px;
    padding-bottom: 20px;
    width: 320px;
    text-align: center;
    opacity: 1;
  }

  .projectTitleRight {
    font-size: 40px;
  }


  .projectLanguagesLeft {
    font-size: 18px;
  }

  .projectDescriptionRight {
    font-size: 15px;
  }

  .projectButtonRight {
    padding: 3px 3px 6px 3px;
    font-size: 15px;
    font-weight: 900;
    color: #c92b00;
  }

  #contactInfoEmail {
    font-size: 15px;
  }

  #contactInfoLinkedin {
    font-size: 15px;
  }

  #contactInfoGithub {
    font-size: 15px;
  }
}
